/*COLORES:
1) AZUL FUERTE: #074f73;
2) AZUL BAJO: #06A3D3;
3) VERDE AQUA: #3FDB9D;
4) NEGRO: #000000;
5) HUESO: #EDF5E0;
6) BLANCO: #FFFFFF;*/
 


@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
/* font-family: 'Roboto', sans-serif; */
/* font-family: oranienbaum; */
/* font-family: 'Montserrat', sans-serif; */
*{
    padding: 0;
    margin: 0;
}
/* generales */
.disp--none{
    display: none;
}
.content{
    margin: 20px 20px 20px 20px;
    padding: 20px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
body{
    overflow-x: hidden;
    background: #EDF5E0;
}
/* generales */
/* header */
header{
    background: linear-gradient(to right, rgba(6,163,211,1) 0%, rgba(6,163,211,1) 14%, rgba(7,79,115,1) 100%);
    width: 100%;
    height: 150px;
}
.principal{
    display: inline-block;
    width: 20%;
}
.principal img{
    width: 43%;
    margin: 20px 20px 20px 50px;
}
.principal h1{
    font-size:40px;
    margin: 30px;
}
nav{
    display: inline-block;
    vertical-align: top;
    margin-top: 50px;
    margin-left: -216px;
}
.nav-icon i span{
    font-size: 25px !important;
}
.active{
    color: #000000 !important;
}
nav li {
    list-style: none;
    text-align: center;
    display: inline-block;
    margin: 0px 20px;
}
nav li i{
    color: #ffffff;
    font-size: 35px;
}
nav li i:hover, nav li p:hover{
    color: #3fdb9d;
}
nav li p{
    color: #ffffff;
    font-size: 25px;
}
.usuario{
    display: inline-block !important;
    width: 10%;
    vertical-align: top;
    position: relative;
    top: 20px;
    left: 67%;
}
.usuario img{
    width: 50%;
    margin-left: 7px;
}
.usuario p{
    font-family: 'Montserrat', sans-serif; 
    color: #ffffff
}
/* nav */
/* header */
/* usuarios */
.usu{
    padding-top: 23px;
    margin-left:30px;
    font-size: 30px;
}
.fa-plus-square{
    color: #074f73;
    font-size: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-top: 70px;
}
.fa-plus-square:hover{
    color:#06A3D3;
}
form{
    margin-left: 44px;
    margin-bottom: 50px;
}
.combo{
    margin: 0px 0px 20px 30px;
    width: 410px;
}

select option{
    background: #074f73;
}
.bann-art{
    background: linear-gradient(to right, rgba(6,163,211,1) 0%, rgba(6,163,211,1) 14%, rgba(7,79,115,1) 100%);
    width: 100%;
    height: 80px;
}
.buttons{
    text-align: center;
    margin-top: -48px;
    margin-left: 60%;
    
}
.buttons a{
    font-size: 40px;
    color: #ffffff;
    margin-left: 30px;
}
.butn button{
    margin-left: 30px;
    background: #074f73;
    color: #3fdb9d;
    font-size: 20px;
    border: #3fdb9d 1px solid;
    border-radius: 5px;
    height: 40px;
    width: 90px;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 85%;
}
.butn button:hover{
    background: #06A3D3;
    color: #000000;
}
/* usuarios */
/* productos */
table{
    border: 1px solid #000000;
    border-collapse: collapse;
    width: 100%;
    background: #074f73;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif; 
    text-align: center;
}
table td{
    border: 1px solid #000000;
}
table tr:hover{
    background: #06A3D3;
    color: #ffffff;
}
.tab-princ{
    background: #ffffff;
    color: #000000;
    font-weight: bold;
}
.tab-princ:hover{
    background: #ffffff;
    color: #000000;
}
table tr td a{
    color: #ffffff;
}
.fa-edit:hover{
    color: #36f510;
}
/* altaproductos */
fieldset h1{
    font-family: 'Montserrat', sans-serif; 
}
.form-srv h3{
    font-size: 40px;
}
.form-alta{
    margin-top: 30px;
    text-align: center;
    width: 88%;
}
.form-alta button{
    border: none;
    font-size: 40px;
    color: #ffffff;
    margin-right: 30px;
    background: none;
}
.form-alta button:hover{
    color: #06A3D3;
}
.form-srv label{
    font-size: 25px;
}
.fa-save:hover{
    color: #3fdb9d;
}
.closse a{
    color: #ffffff;
}
.fa-trash-alt, .fa-edit{
    font-size: 20px;
}
.fa-times:hover, .closse a:hover, .fa-trash-alt:hover{
    color: #d63636;
}
/* modal */
.ventana{
    background: linear-gradient(to right, rgba(6,163,211,1) 0%, rgba(6,163,211,1) 14%, rgba(7,79,115,1) 100%);
    width: 65%;
    color: rgba(255,255,255,1);
    font-size: 18px;
    padding: 33px;
    min-height: 250px;
    border-radius: 22px;
    position: absolute;
    left: 15%;
    top: 31%;
    display: none;
}
.fa-times{
    color: #ffffff;
    position: relative;
    left: 97%;
    top: -9px;
    font-size: 30px;
}
.ventana h3{
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: #000000;
    margin-bottom: 30px;
    text-align: center;
}
.form1{
    display: inline-block;
    vertical-align: top;
    column-count: 2;
    width: 730px;
    column-gap: 30px;
}
.form1 select, .form-otros select{
    width: 204px;
    height: 30px;
    border-radius: 5px;
    background: rgba(0,0,0,.2);
    border: none;
    outline: none;
    border-bottom: 2px solid #3fdb9d;
    padding-left: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    color: #ffffff;
    float: right;
}
.form-otros select{
    float: none !important;
    margin-top: 50px;
    width: 304px !important; 
}
.form1 input, .tipoUs input, .tipoUs button , .sucursal_add button, .proveedir_add button, .tiposerv button{
    width: 206px;
    height: 30px;
    border-radius: 5px;
    background: rgba(0,0,0,.2);
    border: none;
    outline: none;
    border-bottom: 2px solid #3fdb9d;
    padding-left: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    color: #ffffff;
    justify-content: center;
    float: right;
}
.tipoUs input, .tipoUs button, .sucursal_add button, .proveedir_add button, .tiposerv button{
    float: none;
    color: #ffffff;
    width: 235px !important;
}
.tipoUs button{
    width: 150px !important;
}
.tipoUs h1{
    margin-top: 20px;
    font-size: 25px;
}
.form1 label{
    font-size: 20px;
}
.btn-sv{
    text-align: center;
}
.btn-sv input {
    width: 100px;
    height: 40px;
    margin: 10px 30px 0px 0px;
    text-align: center;
    background: #074f73;
    border: #3fdb9d 1px solid;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
}
.btn-table button{
    background: none;
    border: none;
}
.fa-edit, .fa-trash-alt{
    color: #ffffff;
    margin-right: 5px;
}
.btn-sv input:hover{
    background: #a7a5a5;
    color: #000000;
}
.btn-agr{
    background: none;
    border: none;
}
.fa-plus-circle{
    font-size: 24px;
    color: #3fdb9d;
    position: absolute;
    right: 100px;
    top: 177px !important;
}
.circle:hover{
    color: #a7a5a5;
}
.btnform{
    display: inline-block !important;
    margin: 10px 0px;
}  
.fa-plus-square{
    margin-left: 80px;
    font-size: 20px;
}
.tipoUs{
    width: 500px;
    height: 200px;
    border: #06A3D3 1px solid;
    display: inline-block;
}
.sucursal_add{
    border: #06A3D3;
}
.sucursal_add input, .proveedir_add input, .tiposerv input{
    width: 266px;
    height: 30px;
    border-radius: 5px;
    background: rgba(0,0,0,.2);
    border: none;
    outline: none;
    border-bottom: 2px solid #3fdb9d;
    padding-left: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    color: #ffffff;
}
.sucursal_add select, .proveedir_add select{
    width: 275px;
    height: 30px;
    border-radius: 5px;
    background: rgba(0,0,0,.2);
    border: none;
    outline: none;
    border-bottom: 2px solid #3fdb9d;
    padding-left: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    color: #ffffff;
}
.sucursal_add h1, .proveedir_add h1, .tiposerv h1{
    font-size: 30px;
    margin-left: 30px;
}
.tipoUs, .sucursal_add, .proveedir_add,.tiposerv{
    border: #06A3D3 1px solid;
    background: #06A3D3;
    width: 500px;
    display: inline-block;
    vertical-align: top;
    margin-left: 100px;
}
.sec1{
    margin-bottom: 50px;
}
/* .sec2{
    margin-left: -100px;
} */
/* end modal */
/* altaproductos */
/* productos */