
*{
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
header{
    background: linear-gradient(to right, rgba(6,163,211,1) 0%, rgba(6,163,211,1) 14%, rgba(7,79,115,1) 100%);
    width: 100%;
    height: 150px;
}
.principal{
    display: inline-block;
    width: 20%;
}
.principal img{
    width: 43%;
    margin: 20px 20px 20px 50px;
}
.principal h1{
    font-size:40px;
    margin: 30px;
}
.usuario{
    display: inline-block !important;
    width: 10%;
    vertical-align: top;
    position: relative;
    top: 20px;
    left: 67%;
}
.usuario img{
    width: 50%;
    margin-left: 7px;
}
.usuario p{
    font-family: 'Montserrat', sans-serif; 
    color: #ffffff
}

nav{
    position: absolute;
    background: #074f73;
    width: 200px;
    /* top: 100%; */
    /* padding-left: 30px; */
}
.button-menu{
    cursor: pointer;
}
nav ul{
    width: 200px;
    height: 100%;
    position: absolute;
}
nav li a, nav li{
    text-decoration: none;
    list-style: none;
}
nav li{
    background: #074f73;
    width: 100%;
    height: 50px;
    border: #06A3D3 1px solid;
    padding-left: 30px;
}
nav li:hover{
    background: #3FDB9D;
}
nav li a{
    position: relative;
    top: 8px;
    font-size: 26px;
    font-family: oranienbaum;
    color: #ffffff !important;
    display: ruby;
}
nav li a i span{
    padding-left: 10px;
}
nav .item-sub
